<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/orders.css" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script type="module" src="/scripts/orders.mjs" defer></script>
    <title>TechGuardian | Solicitações finalizadas</title>
  </head>
  <body>
    <%- include("../partials/header.ejs", { user: user }) %>

    <%- include("../partials/toasts.ejs", { type: 'success', messages: getFlashMessages('success') }) %>

    <%- include("../partials/toasts.ejs", { type: 'error', messages: getFlashMessages('error') }) %>

    <main class="container">
      <div class="navigation">
        <div>
          <h2>Solicitações</h2>
          <span class="amount"><%= closedOrdersCount %></span>
        </div>

        <nav>
          <ul>
            <li>
              <a href="/open-orders" class="nav-link">Em andamento</a>
            </li>
            <li>
              <a href="/closed-orders" class="nav-link green">Finalizados</a>
            </li>
            <% if (user.role === 'admin') { %>
              <li>
                <a href="/patrimonies" class="nav-link">Patrimônios</a>
              </li>
              <li>
                <a href="/users" class="nav-link">Usuários</a>
              </li>
           <% } %>
          </ul>
        </nav>

      </div>

      <form action="">
        <%- include("../partials/orders-filters.ejs") %>

        <div class="buttons">
          <button type="submit" class="filter button">
            <i class="ph-bold ph-funnel"></i>
            filtrar
          </button>
      
          <% if (user.role === 'admin' || user.role === 'tech') { %>
            <a class="new-order button" href="/new-order">
             <i class="ph-bold ph-plus"></i>
             abrir nova solicitação
           </a>
         <% } %>
        </div>

      </form>


      <% if (!closedOrders.length) { %>
        <p class="no-orders-found-message">Nenhuma solicitação encontrada.</p>
      <% } %>

      <div class="order-cards">
        <% closedOrders.forEach(order => { %> 
          <%-
            include("../partials/order-card.ejs", 
              { 
                isOpen: false,
                id: order.id,
                title: order.title,
                createdBy: order.created_by,
                patrimonyNumber: order.patrimony_number,
                createdAt: order.created_at,
              }) %> 
          <% }) %>
      </div>

      <% if (closedOrdersCount > 9) { %>
        <%- include("../partials/pagination.ejs", 
            { 
              pages: Math.ceil(closedOrdersCount / 9), 
              currentPage: page ?? 1,
              limit: 4,
            }
          ) 
        %>
     <% } %>
    </main>

    <%- include("../partials/modal.ejs") %>
  </body>
</html>
