<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/form.css" />
    <link rel="stylesheet" href="/styles/input.css" />
    <link rel="stylesheet" href="/styles/button.css" />
    <link rel="stylesheet" href="/styles/link.css" />
    <title>Tech Guardian | login</title>
  </head>
  <body>
    <%- include("../partials/header.ejs") %>

    <main>
      <form action="/login" method="POST">
        <fieldset>
          <legend>Acesse sua conta</legend>

          <div class="inputs">
            <%- include("../partials/input.ejs", {type: 'email', placeholder:
            'E-mail', icon: 'mail'}) %> 
            <%- include("../partials/input.ejs",
            {type: 'password', placeholder: 'Senha', icon: 'key'}) %>
          </div>
        </fieldset>

        <%- include("../partials/button.ejs", {type: 'submit', title: 'Entrar'})
        -%>
      </form>

      <%- include("../partials/link.ejs", {href: 'register', title: 'Criar conta'}) -%>
    </main>
  </body>
</html>
