<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/new-order.css" />
  <script type="module" src="/scripts/new-order.mjs" defer></script>
  <title>TechGuardian | Nova solicitação</title>
</head>
<body>

  <%- include("../partials/header.ejs", { user: user }) %>

  <main class="container">

    <h2>Nova solicitação</h2>

   <form method="post" action="/orders/create" class="form" data-form>
    <fieldset class="inputs">
      <%-
        include(
          "../partials/input.ejs",
          {
            id: 'title',
            type: 'text',
            placeholder: 'Título da solicitação',
            value: '',
            validations: [
              { type: 'required' },
              { type: 'min-length', value: 4 },
            ]
          }
        )
      %>

      <%-
        include(
          "../partials/select.ejs",
          {
            id: 'patrimony-number',
            options: patrimonies.map(patrimony => ({ id: patrimony.id, value: patrimony.number }))
          }
        )
      %>

      <%-
        include(
          "../partials/textarea.ejs",
          {
            id: 'description',
            type: 'text',
            placeholder: 'Descrição do problema',
            value: '',
            validations: [
              { type: 'required' },
            ]
          }
        )
      %>
    </div>
    
    <%- include("../partials/button.ejs", { type: 'submit', title: 'Enviar solicitação',  }) -%>
    </form>
  </main>
</body>
</html>