<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/new-order.css" />
  <link rel="shortcut icon" href="/assets/icons/favicon.svg" type="image/x-icon">
  <script src="https://unpkg.com/@phosphor-icons/web"></script>
  <script type="module" src="/scripts/new-order.mjs" defer></script>
  <title>TechGuardian | Nova solicitação</title>
</head>
<body>

  <%- include("../partials/header.ejs", { user: user }) %>

  <%- include("../partials/toasts.ejs", { type: 'error', messages: getFlashMessages('error') }) %>

  <main class="container">

    <%- include(
        "../partials/back-button.ejs", 
        { page: '/open-orders' }
      ) 
    %>

    <h2>Nova solicitação</h2>

   <form action="/order/create" method="post" class="form" data-form>
    <fieldset class="inputs">
      <%-
        include(
          "../partials/input.ejs",
          {
            id: 'title',
            type: 'text',
            placeholder: 'Título da solicitação',
            value: getFlashMessages('title')[0] ?? '',
            validations: [
              { type: 'required' },
              { type: 'min-length', value: 4 },
            ]
          }
        )
      %>

      <%-
        include(
          "../partials/select.ejs",
          {
            id: 'patrimony_id',
            selectedOptionId: getFlashMessages('patrimony_id')[0] ?? '',
            options: patrimonies.map(patrimony => ({ id: patrimony.id, value: patrimony.number }))
          }
        )
      %>

      <%-
        include(
          "../partials/textarea.ejs",
          {
            id: 'description',
            type: 'text',
            placeholder: 'Descrição do problema',
            value: getFlashMessages('description')[0] ?? '',
            validations: [
              { type: 'required' },
            ]
          }
        )
      %>
    </fieldset>

      <input type="hidden" name="user_id" value="<%= user.id %>">
    
      <button class="button" type="submit">Abrir solicitação</button>
    </form>
  </main>

  <%- include("../partials/modal.ejs") %>
</body>
</html>