<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/open-orders.css" />
    <script src="https://unpkg.com/@getByIdphor-icons/web"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <title>TechGuardian | Solicitações abertas</title>
  </head>
  <body>
    <%- include("../partials/header.ejs", { user: user }) %>

    <%- include("../partials/toasts.ejs", { type: 'success', messages: getFlashMessages('success') }) %>

    <%- include("../partials/toasts.ejs", { type: 'error', messages: getFlashMessages('error') }) %>

    <main class="container">
      <div class="navigation">
        <div>
          <h2>Solicitações</h2>
          <span class="amount"><%= openOrders.length %></span>
        </div>

        <nav>
          <ul>
            <li>
              <a href="/open-orders" class="nav-link yellow">Em andamento</a>
            </li>
            <li>
              <a href="/closed-orders" class="nav-link">Finalizados</a>
            </li>
          </ul>
        </nav>

        <form>
          <%-
            include(
              "../partials/input.ejs",
              {
                id: 'search',
                type: 'search',
                placeholder: 'Pesquisar solicitação por nome',
                icon: 'magnifying-glass',
                value: search,
                validations: []
              }
            )
            %>
        </form>
      </div>

     
          
      <% if (user.role === 'tech') { %>
         <a class="new-order-button" href="/new-order">
          <img src="assets/icons/plus.svg" width="16" height="16" alt="">
          Abrir nova solicitação
        </a>
      <% } %>

      <% if (!openOrders.length) { %>
          <p class="no-orders-found-message">Nenhuma solicitação encontrada.</p>
     <% } %>

      <div class="order-cards">
        <% openOrders.forEach(order => { %> 
          <%-
            include("../partials/order-card.ejs", 
              { 
                isOpen: true,
                id: order.id,
                title: order.title,
                createdBy: order.created_by,
                patrimonyNumber: order.patrimony_number,
                createdAt: order.created_at,
              }) %> 
          <% }) %>
      </div>
    </main>
  </body>
</html>
