<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/order.css" />
    <script type="module" src="/scripts/order.mjs" defer></script>
    <script src="https://unpkg.com/@phosphor-icons/web" defer></script>
    <title>TechGuardian | Order</title>
  </head>
  <body>
    <%- include("../partials/header.ejs", { user: user }) %>
    
    <%- include("../partials/order-status.ejs", { isOpen: order.is_open }) %>

    <main class="container">
      <form action="/order/<%= action %>" method="post" data-form>
        <%- 
          include("../partials/order-field.ejs", 
            { 
              id: 'title',
              title: 'Título',
              isDisabled: order.creator_id !== user.id,
              text: order.title,
              isBig: false,
              validations: [
                { type: 'required' },
              ]
            })
        %>

        <%- 
          include("../partials/order-field-select.ejs", 
            { 
              id: 'patrimony',
              title: 'Equipamento',
              isDisabled: order.creator_id !== user.id,
              options: patrimonies.map(patrimony => ({ id: patrimony.id, value: patrimony.number })),
              selectedOptionId: order.patrimony_id
            })
        %>

        <%- 
          include("../partials/order-field.ejs", 
            { 
              id: 'description',
              title: 'Descrição do problema',
              isDisabled: order.creator_id !== user.id,
              text: order.description ?? 'Problema sem descrição',
              isBig: false,
              validations: [
                { type: 'required' },
              ]
            })
         %>

         <% if (user.role === 'guardian') { %>
          <%- 
          include("../partials/order-field.ejs", 
            { 
              id: 'solution',
              title: 'Solução',
              isDisabled: false,
              text: '',
              hasAutoFocus: true,
              placeholder: 'Escreva uma solução para o problema',
              isBig: true,
              validations: [
                { type: 'required' },
              ]
            })
         %>
        <% } %>

        <% if (order.creator_id === user.id) { %>
          <div class="buttons">
            <button class="button purple" name="action" value="<%= order.id %>/edit" type="button" data-button>
              <i class="ph-bold ph-note-pencil"></i>
              Editar solicitação
            </button>
            <button class="button red" name="action" value="<%= order.id %>/delete" type="button" data-button>
              <i class="ph-bold ph-trash"></i>
              Apagar solicitação
            </button>
          </div>
        <% } %>
        
      </form>
    </main>
  </body>
</html>
