<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/order.css" />
    <script type="module" src="/scripts/order.mjs" defer></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <title>TechGuardian | Solicitação: <%= order.title %></title>
  </head>
  <body>
    <%- include("../partials/header.ejs", { user: user }) %>
    
    <%- include("../partials/order-status.ejs", { isOpen: order.is_open }) %>

    <%- include("../partials/toasts.ejs", { type: 'error', messages: getFlashMessages('error') }) %>

    <%- include("../partials/toasts.ejs", { type: 'success', messages: getFlashMessages('success') }) %>

    <main class="container">
      <form action="#" method="post" data-form>
        <%- 
          include("../partials/order-field.ejs", 
            { 
              id: 'title',
              title: 'Título',
              icon: 'flag-pennant',
              isDisabled: order.creator_id !== user.id,
              text: order.title,
              isBig: false,
              validations: [
                { type: 'required' },
              ]
            })
        %>

        <%- 
          include("../partials/order-field-select.ejs", 
            { 
              id: 'patrimony_id',
              title: 'Patrimônio',
              icon: 'desktop-tower',
              isDisabled: order.creator_id !== user.id,
              options: patrimonies.map(patrimony => ({ id: patrimony.id, value: patrimony.number })),
              selectedOptionId: order.patrimony_id
            })
        %>

        <%- 
          include("../partials/order-field.ejs", 
            { 
              id: 'description',
              title: 'Descrição do problema',
              icon: 'clipboard-text',
              isDisabled: order.creator_id !== user.id,
              text: order.description ?? 'Problema sem descrição',
              isBig: order.creator_id === user.id && order.is_open,
              validations: [
                { type: 'required' },
              ]
            })
         %>

         <% if (order.creator_id !== user.id) { %>
          <%- include(
            "../partials/order-field-user.ejs",
            { 
              title: 'Resgistrado por',
              id: order.creator_id,
              name: order.creator_name,
              avatar: order.creator_avatar,
              caption: 'em ' + order.created_at,
           }) 
          %>
        <% } %>

         <% if ((user.role === 'guardian' && order.is_open) || !order.is_open) { %>
          <%- 
            include("../partials/order-field.ejs", 
              { 
                id: 'solution',
                title: 'Solução',
                icon: 'seal-check',
                isDisabled: user.role === 'tech' || !order.is_open,
                text: order.solution,
                hasAutoFocus: true,
                placeholder: 'Escreva uma solução para o problema',
                isBig: order.is_open,
                validations: [
                  { type: 'required' },
                ]
              })
          %>
        <% } %>

        <% if (!order.is_open && order.resolved_at && order.resolved_by) { %>
          <%- include(
            "../partials/order-field-user.ejs",
            { 
              title: 'Solucionado por',
              id: order.resolver_id,
              name: order.resolver_name,
              avatar: order.resolver_avatar,
              caption: 'em ' + order.created_at,
           }) 
          %>
        <% } %>

        <input type="hidden" name="user_id" value="<%= user.id %>">

        <% if (order.creator_id === user.id && order.is_open) { %>
          <div class="buttons">
            <button 
              id="edit"
              class="button purple" 
              name="action" 
              value="/order/<%= order.id %>/edit" 
              type="button" 
              data-button
            >
              <i class="ph-bold ph-note-pencil"></i>
              Editar solicitação
            </button>
            <button 
              id="delete"
              class="button red" 
              name="action" 
              value="/order/<%= order.id %>/delete" 
              type="button" 
              data-button
            >
              <i class="ph-bold ph-trash"></i>
              Apagar solicitação
            </button>
          </div>
        <% } %>

        <% if (order.creator_id === user.id && !order.is_open) { %>
          <div class="buttons">
            <button 
              id="reopen"
              class="button purple" 
              name="action" 
              value="/order/<%= order.id %>/reopen" 
              type="button" 
              data-button
            >
              <i class="icon ph-bold ph-paper-plane"></i>
              Reabrir solicitação
            </button>
            <button 
              id="delete"
              class="button red" 
              name="action" 
              value="/order/<%= order.id %>/delete" 
              type="button" 
              data-button
            >
              <i class="icon ph-bold ph-trash"></i>
              Apagar solicitação
            </button>
          </div>
        <% } %>

        <% if (user.role === 'guardian' && order.is_open) { %>
            <button 
              id="resolve"
              class="button" 
              name="action" 
              value="/order/<%= order.id %>/resolve" 
              type="button" 
              data-button
            >
              <i class="ph-bold ph-paper-plane"></i>
              Enviar solução
            </button>
        <% } %>
  
      </form>
    </main>

    <%- include("../partials/modal.ejs") %>
  </body>
</html>
