<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/order.css" />
    <script type="module" src="/scripts/order.mjs" defer></script>
    <script src="https://unpkg.com/@phosphor-icons/web" defer></script>
    <title>TechGuardian | Order</title>
  </head>
  <body>
    <%- include("../partials/header.ejs", { user: user }) %>
    
    <%- include("../partials/order-status.ejs", { isOpen: order.is_open }) %>

    <%- include("../partials/toasts.ejs", { type: 'error', messages: getFlashMessages('error') }) %>

    <%- include("../partials/toasts.ejs", { type: 'success', messages: getFlashMessages('success') }) %>

    <main class="container">
      <form action="#" method="post" data-form>
        <%- 
          include("../partials/order-field.ejs", 
            { 
              id: 'title',
              title: 'Título',
              icon: 'flag-pennant',
              isDisabled: order.creator_id !== user.id,
              text: order.title,
              isBig: false,
              validations: [
                { type: 'required' },
              ]
            })
        %>

        <%- 
          include("../partials/order-field-select.ejs", 
            { 
              id: 'patrimony_id',
              title: 'Patrimônio',
              icon: 'desktop-tower',
              isDisabled: order.creator_id !== user.id,
              options: patrimonies.map(patrimony => ({ id: patrimony.id, value: patrimony.number })),
              selectedOptionId: order.patrimony_id
            })
        %>

        <%- 
          include("../partials/order-field.ejs", 
            { 
              id: 'description',
              title: 'Descrição do problema',
              icon: 'clipboard-text',
              isDisabled: order.creator_id !== user.id,
              text: order.description ?? 'Problema sem descrição',
              isBig: false,
              validations: [
                { type: 'required' },
              ]
            })
         %>

         <% if (user.role === 'guardian') { %>
          <%- 
            include("../partials/order-field.ejs", 
              { 
                id: 'solution',
                title: 'Solução',
                icon: 'seal-check',
                isDisabled: false,
                text: '',
                hasAutoFocus: true,
                placeholder: 'Escreva uma solução para o problema',
                isBig: true,
                validations: [
                  { type: 'required' },
                ]
              })
          %>
        <% } %>

        <input type="hidden" name="user_id" value="<%= user.id %>">

        <% if (order.creator_id === user.id) { %>
          <div class="buttons">
            <button 
              class="button purple" 
              name="action" 
              value="<%= order.id %>/edit" 
              type="button" 
              data-button
            >
              <i class="ph-bold ph-note-pencil"></i>
              Editar solicitação
            </button>
            <button 
              class="button red" 
              name="action" 
              value="<%= order.id %>/delete" 
              type="button" 
              data-button
            >
              <i class="ph-bold ph-trash"></i>
              Apagar solicitação
            </button>
          </div>
        <% } %>

        <% if (user.role === 'guardian') { %>
            <button 
              class="button" 
              name="action" 
              value="<%= order.id %>/resolve" 
              type="button" 
              data-button
            >
              <i class="ph-bold ph-paper-plane"></i>
              Enviar solução
            </button>
        <% } %>
        
      </form>
    </main>
  </body>
</html>
