<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/patrimonies.css" />
    <script type="module" src="/scripts/patrimonies.mjs" defer></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <title>TechGuardian | Patrimônios</title>
  </head>
  <body>
    <%- include("../partials/header.ejs", { user: user }) %>

    <%- include("../partials/toasts.ejs", { type: 'success', messages: getFlashMessages('success') }) %>

    <%- include("../partials/toasts.ejs", { type: 'error', messages: getFlashMessages('error') }) %>

    <main class="container">
      <div class="navigation">
        <div>
          <h2>Patrimônios</h2>
          <span class="amount"><%= patrimoniesCount %></span>
        </div>

        <nav>
          <ul>
            <li>
              <a href="/open-orders" class="nav-link">Solicitações</a>
            </li>
            <li>
              <a href="/patrimonies" class="nav-link purple">Patrimônios</a>
            </li>
            <li>
              <a href="/users" class="nav-link">Usuários</a>
            </li>
          </ul>
        </nav>
      </div>

      <form action="">
        <ul class="filters">
          <li class="filter">
            <%-
              include(
                "../partials/input.ejs",
                  {
                    id: 'search',
                    type: 'search',
                    placeholder: 'Pesquisar patrimônio por número',
                    icon: 'magnifying-glass',
                    value: search,
                    validations: []
                  }
                )
            %>
          </li>
        </ul>

        <div class="buttons">
          <button type="submit" class="filter button">
            <i class="ph-bold ph-funnel"></i>
            filtrar patrimônios
          </button>
      
            <a class="new-patrimony button" href="/new-patrimony">
             <i class="ph-bold ph-plus"></i>
             cadastrar novo patrimônio
           </a>
        </div>
      </form>

      
      <% if (!patrimonies.length) { %>
          <p class="no-orders-found-message">Nenhum patrimônio encontrado.</p>
     <% } %>

      <div class="patrimonies-cards">
        <% patrimonies.forEach(patrimony => { %> 
          <%-
            include("../partials/patrimony-card.ejs", 
              { 
                id: patrimony.id,
                number: patrimony.number,
              }) %> 
          <% }) %>
      </div>

      <% if (patrimoniesCount > 9) { %>
        <%- include("../partials/pagination.ejs", 
            { 
              pages: Math.ceil(patrimoniesCount / 9), 
              currentPage: page ?? 1,
              limit: 4,
            }
          ) 
        %>
     <% } %>

    </main>

    <%- include("../partials/modal.ejs") %>
  </body>
</html>
