<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/session.css" />
    <script src="/scripts/session.mjs" defer type="module"></script>
    <title>Tech Guardian | Cadastro</title>
  </head>
  <body>
    <%- include("../partials/header.ejs", { user: null }) %>

    <%- include("../partials/toasts.ejs", { messages: getFlashMessages('error') }) %>


    <main class="container">

      <form action="/register-user" method="POST" data-form>
        <fieldset>
          <legend>Crie sua conta</legend>

          <div class="inputs">
            <%-
             include(
                "../partials/input.ejs",
                {
                  id: 'name',
                  type: 'text',
                  placeholder: 'Nome de usuário',
                  icon: 'user',
                  value: getFlashMessages('name')[0] ?? '',
                  validations: [
                    { type: 'required' },
                    { type: 'min-length', value: 3 },
                  ]
                }
              )
             %>
             <%-
              include(
                  "../partials/input.ejs",
                  {
                    id: 'email',
                    type: 'email',
                    placeholder: 'E-mail',
                    icon: 'mail',
                    value: getFlashMessages('email')[0] ?? '',
                    validations: [
                      { type: 'required' },
                      { type: 'email' },
                    ]
                  }
                )
             %>
            <%- 
              include(
                "../partials/input.ejs",
                { 
                  id: 'password',
                  type: 'password',
                  placeholder: 'Senha',
                  icon: 'key',
                  value: '',
                  validations: [
                    { type: 'required' },
                    { type: 'password' },
                  ]
                }
              ) 
            %>
            <%- 
              include(
                "../partials/input.ejs",
                { 
                  id: 'passwordConfirmation',
                  type: 'password',
                  placeholder: 'Confirme sua senha',
                  icon: 'key',
                  value: '',
                  validations: [
                    { type: 'required' },
                    { type: 'equal', value: 'password' },
                  ]
                }
              ) 
          %>
          <div>
            <p class="roles-question">Você prefere ser um Tech ou Guardian?</p>
            <div class="radios">
              <%- 
                include("../partials/radio.ejs", 
                  { 
                    id: roles[0].id,
                    title: roles[0].title,
                    color: 'purple',
                    isChecked: true,
                    checkedRadioId: getFlashMessages('role_id')[0] ?? ''
                  }) 
              %>
              <%- 
                include("../partials/radio.ejs",
                  { 
                    id: roles[1].id,
                    title: roles[1].title,
                    color: 'green',
                    isChecked: false,
                    checkedRadioId: getFlashMessages('role_id')[0] ?? ''
                  }) 
              %>
            </div>
          </div>
          </div>
        </fieldset>


        <button class="button" type="submit">Cadastrar</button>
      </form>

      <a class="link" href="/">Entre na sua conta</a>
    </main>

  </body>
</html>
