<div class="input-container">
  <label class="sr-only" for="<%= id %>"></label>
  <div class="content">
    <% if (typeof icon !== 'undefined') { %>
      <i class="icon ph-bold ph-<%= icon %>"></i>
    <% } %>

    <input
      id="<%= id %>"
      type="<%= type %>"
      name="<%= id %>"
      placeholder="<%= placeholder %>"
      value="<%= value %>"
      <% validations.forEach(validation => { %>
        data-validate-<%= validation.type %>="<%= validation.value ?? '' %>"
        <% }) %>
      data-input
    />
  </div>
</div>
