<div class="order-field user">
  <label class="label">
    <i class="ph ph-user icon"></i>
    <%= title %>
  </label>
  <a href="/user/<%= id %>" class="content">
    <%- include("../partials/avatar.ejs", { image: avatar, size: 40 }) %>

    <strong class="name"><%= name %></strong>
  </a>
  <small class="caption"><%= caption %></small>
</div>
