<div class="order-field">
  <div>
  <strong class="title">
    <i class="ph ph-<%= icon %> icon"></i>
    <%= title %>
  </strong>
  <textarea 
    data-textarea
    name="<%= id %>"
    id="<%= id %>"
    <%= isDisabled ? 'disabled' : '' %>
    <%= typeof hasAutoFocus !== 'undefined' && hasAutoFocus ? 'autofocus' : '' %>
    placeholder="<%= typeof placeholder !== 'undefined' && placeholder ? placeholder: '' %>"
    class="<%= isBig ? 'big' : '' %>"
    <% validations.forEach(validation => { %>
      data-validate-<%= validation.type %>="<%= validation.value ?? '' %>"
      <% }) %>
  ><%= text %></textarea>
  </div>
</div>
