<div class="order-field">
  <lebel for="<%= id %>" class="label">
    <i class="ph ph-<%= icon %> icon"></i>
    <%= title %>
  </lebel>
  <div class="content">
    <select 
      data-select 
      class="select" 
      name="<%= id %>" 
      id="<%= id %>"
      <%= isDisabled ? 'disabled' : '' %>
    >
      <% options.forEach(option => { %>
        <option 
          data-option 
          class="option" 
          value="<%= option.id %>"
          <%= option.id === selectedOptionId ? 'selected' : '' %>
        >
        <%= option.value %>
      </option>
      <% }) %>
    </select>
    <img
      class="icon"
      src="/assets/icons/arrow-down.svg"
      width="16"
      height="16"
      alt=""
    />
  </div>
</div>
