<div class="text-field">
  <strong class="title">
    <img src="/assets/icons/<%= id %>.svg" width="24" height="24" alt="" />
    <%= title %>
  </strong>
  <textarea 
    name="<%= id %>"
    id="<%= id %>"
    <%= isDisabled ? 'disabled' : '' %>
    <%= typeof hasAutoFocus !== 'undefined' && hasAutoFocus ? 'autofocus' : '' %>
    placeholder="<%= typeof placeholder !== 'undefined' && placeholder ? placeholder: '' %>"
  >
    <%= text %>
  </textarea>
</div>
