<div class="radio-container <%= color %>" >
  <input type="radio" name="role" value="<%= id %>" id="<%= id %>" <%= isChecked ? 'checked' : '' %> >
  <label for="<%= id %>" data-radio tabindex="0">
    <span class="radio"></span>
    <%= title %>
  </label>
</div>